<h1><%= @task.title %></h1>
<div class="task-details border rounded p-3 alert-secondary">
<p class="details"><%= @task.details %></p>
</div>
<div class="task-completed">
<p><%= @task.completed %></p>
</div>
<%= link_to "Back Home", tasks_path %>
<%= link_to "Edit this task", edit_task_path %>
<%= link_to "Delete",
  task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
